<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header mt-5">
                <h1 class="card-title ">{{ "KPI Dashboard"|xlt }}</h1>
            </div>
            <div class="card-body mt-2">
                <h1 class="text-center mt-1">{{ "Overview "|xlt }}{{ previousMonth }}</h1>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title text-center">{{ "Total Appointments Scheduled"|xlt }}</h4>
                            </div>
                            <h1 class="text-center">{{ appointmentsScheduled }}</h1>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title text-center">{{ "New Patients Seen"|xlt }}</h4>
                            </div>
                            <h1 class="text-center">{{ newPatientsSeen }}</h1>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title text-center">{{ "Visits Checked Out"|xlt }}</h4>
                            </div>
                            <h1 class="text-center">{{ visitsCompleted }}</h1>
                            <p class="ml-1"><strong>{{ "Visits Documented"|xlt }}:</strong> {{ documentedVisits }}</p>
                            <p class="ml-5"><strong>{{ "Visits Billed"|xlt }}:</strong> {{ billedVisits }}</p>
                        </div>
                    </div>
                </div>
                {% include 'stats/visitation.twig' %}
                {% include 'stats/financials.twig' %}
            </div>
        </div>
    </div>
</div>
